<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử tìm kiếm</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h2>Lịch sử tìm kiếm</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Từ khóa</th>
            <th>Loại tìm kiếm</th>
            <th>Bộ lọc</th>
            <th>Thời gian</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="history : ${searchHistoryList}">
            <td th:text="${history.query}"></td>
            <td th:text="${#temporals.format(history.searchTime, 'dd/MM/yyyy HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
