<div class="profile-posts-save tab">
    <div class="w-100 d-flex justify-content-around p-3">
        <form class="search-form2">
            <input class="input-search3" name="Keywords" placeholder="Tìm kiếm văn bản đã lưu...">
            <button class="btn-search3 btn-submit"> <i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

    <div class="list-post-save">
        <div class="d-block">
<!--            <i>Có tất cả <span>1</span> văn bản</i>-->
            <a class="text-decoration-none delete-all" href="#"><i class="fa-regular fa-trash-can p-1"></i> Xóa tất cả</a>
        </div>
        <table class="table-post-save">
            <tbody>
            <tr>
                <th class="col_number">01</th>
                <td class="col-title">
                    <div class="article-title">
                        <a href="#" class="text-decoration-none ">Nghị quyết 240/NQ-CP của Chính phủ Phiên họp chuyên đề về xây dựng pháp luật tháng 11 năm 2024</a>
                    </div>
                    <div class="item-meta">
                        <a href="#" class="tag-item-post-save">Tóm tắt</a>
                        <a href="#" class="tag-item-post-save">Văn bản liên quan</a>
                        <a href="#" class="tag-item-post-save">Tải về</a>
                    </div>
                </td>
                <td class="col_time">
                    <p class="post-time">Ban hành: <span>17/12/2024</span></p>
                    <p class="post-time">Áp dụng: <span>17/12/2024</span></p>
                    <p class="post-time">Hiệu lực: <span>Đã biết</span></p>
                    <p class="post-time">Cập nhật: <span>18/12/2024</span></p>
                </td>
                <td class="col_dell">
                    <a href="#" class="text-decoration-none"><i class="fa-regular fa-trash-can text-dark"></i></a>
                </td>
            </tr>
            <tr>
                <th class="col_number">01</th>
                <td class="col-title">
                    <div class="article-title">
                        <a href="#" class="text-decoration-none ">Nghị quyết 240/NQ-CP của Chính phủ Phiên họp chuyên đề về xây dựng pháp luật tháng 11 năm 2024</a>
                    </div>
                    <div class="item-meta">
                        <a href="#" class="tag-item-post-save">Tóm tắt</a>
                        <a href="#" class="tag-item-post-save">Văn bản liên quan</a>
                        <a href="#" class="tag-item-post-save">Tải về</a>
                    </div>
                </td>
                <td class="col_time">
                    <p class="post-time">Ban hành: <span>17/12/2024</span></p>
                    <p class="post-time">Áp dụng: <span>17/12/2024</span></p>
                    <p class="post-time">Hiệu lực: <span>Đã biết</span></p>
                    <p class="post-time">Cập nhật: <span>18/12/2024</span></p>
                </td>
                <td class="col_dell">
                    <a href="#" class="text-decoration-none"><i class="fa-regular fa-trash-can text-dark"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
            <div class="pagination-left">
                <span>Hiển thị: </span>
                <label>
                    <select>
                        <option>5 kết quả</option>
                        <option>10 kết quả</option>
                        <option>15 kết quả</option>
                        <option>20 kết quả</option>
                        <option>50 kết quả</option>
                        <option>100 kết quả</option>
                    </select>
                </label>
            </div>
            <div class="pagination-right">
                                    <span class="pagination-item active">
                                        <span>1</span>
                                    </span>
                <span class="pagination-item">
                                        <span>2</span>
                                    </span>
            </div>
        </div>
    </div>
</div>